* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    background: #260036;
}


.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    .initial {
        flex-wrap: wrap;
    }
    #credit-card {
        margin-top: 2.0rem;
    }
}

form {
    background: #fff;
    border-radius: 0.5rem;
    padding: 3.4rem;
    max-width: 90rem;
    margin: auto;
    margin-top: 10rem;
    box-shadow: 0 1.0rem 1.5rem rgba(0, 0, 0, .1);
}

/*front-card*/

#credit-card {
    width: 35rem;
    height: 22rem;
    perspective: 60rem;
    margin-left: 2.2rem;
}

#credit-card>div {
    width: inherit;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
}

#credit-card .front .front-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #00d8bb, #350066, rgb(2, 190, 150));
    border-radius: 0.6rem;
    position: relative;
}

#credit-card .front img {
    width: 8rem; 
    margin-bottom: 10rem;
}

.front .dates {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    margin-left: 1.2rem;
    padding-top: 2rem;
}

#credit-card .front .code-view-credit-card {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    font-size: 2.4rem;
    color: #ffffffaa;
    padding: 4rem 4rem;
}

.user-data {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    justify-content: space-between;
    color: #ffffffaa;
    font-weight: lighter;
    width: 25.0rem;
    max-width: 100%;
}

.expiration {
    float: right;
}

/*back.card*/

#credit-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(35deg, #00d8bb, #49018d, rgb(2, 190, 150));
    border-radius: 0.6rem;
}

#credit-card .back .bar-black {
    flex: 1;
    background: #111111da;
    height: 4.5rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

#credit-card .back .bar-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: #f7f7f7ba;
    height: 3.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    color: #2f2e2ee8;
}

.text-cvv {
    margin-right: 1rem;
    color: #c5c5c5;
}

.cvv-code {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.back .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    padding-top: 3.8rem;
}

.back img {
    width: 4rem;
}

/*card-rotate*/

.card-number .back {
    transform: rotateY(0deg) !important;
}

.card-number .front {
    transform: rotateY(180deg);
}

#credit-card .back {
    transform: rotateY(-180deg);
    top: -5px;
}

#credit-card:hover .front {
    transform: rotateY(180deg);
}

#credit-card:hover .back {
    transform: rotateY(0deg);
}

.flex-box,
.box {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.inputs {
    margin-top: 4.8rem;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
}

label {
    font-weight: 600;
    font-size: 1.4rem;
    color: #999;
    gap: 0.4rem;
    align-items: center;
}

input {
    margin-top: 0.4rem;
    width: 100%;
    font-family: "Source Sans Pro";
    padding: 1.2rem;
    border: 0.1rem solid rgba(0, 0, 0, .3);
    border-radius: 0.5rem;
    color: #4e4e4e;
}

input:focus {
    border: 0.15rem solid #9333ea;
    outline: 0.15rem solid #9333ea;
}

input:invalid:focus {
    outline: 0.15rem solid #fb7185;
    border: 0.15rem solid #fb7185;
}

input+.warning {
    display: none;
}

input:invalid:focus+.warning {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    color: #fb7185;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.col-2 {
    gap: 2.4rem;
    align-items: center;
}

.col-2 .input-wrapper:nth-child(2) {
    flex-basis: 40%;
}

.help img {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.info-security {
    margin-top: 2rem;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    color: #000000b5;
    font-size: 1.4rem;
}

button {
    margin-top: 6rem;
    margin-top: 6rem;
    border: 0;
    padding: 1.6rem;
    width: 100%;
    background: #300046;
    box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #f9fafb;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    letter-spacing: .1rem;
    background: #3b0058;
}
