//Colors

$grey: #aaa;
$white: #fff;
$light-purple: #957ebe;
$background-keyboard: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
$background-body: linear-gradient(225deg, #230261 0%, #9465bd 50%, #2B86C5 100%);
$background-key:  linear-gradient(225deg, #1b004954 40%, #2B86C5 100%);
$shadow-keyboard: 6px 8px 0 6px #666, 10px 10px 10px #000;

//Font

$font:'Poppins', sans-serif;
$font-bold: 600;

